# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# For the lab 1 reference folder 
lab1/lab1_Daniel_Calvin/sandbox/build
lab1/lab1_Daniel_Calvin/camera_calibration/build
lab1/lab1_Daniel_Calvin/lane_line_detection/build
lab1/lab1_Daniel_Calvin/lane_line_detection/.vs

lab1/lab1_Victoria/sandbox/build
lab1/lab1_Victoria/camera_calibration/build
lab1/lab1_Victoria/lane_line_detection/build
lab1/lab1_Victoria/lane_line_detection/.vs

lab1/lab1_merged/sandbox/build
lab1/lab1_merged/camera_calibration/build
lab1/lab1_merged/lane_line_detection/build
lab1/lab1_merged/lane_line_detection/.vs


# Mac ds store
.DS_Store

# Ignore datasets
datasets/CULane/*

# Ignore core dumps
core

# Ignore large LaneNet model weights files
LaneNet/model
LaneNet/data/vgg16.npy
Scripts/culane_dataset_lanenet/
/LaneNet/data/culane_dataset_lanenet/
/LaneNet/output_frames/
/LaneNet/output_frames_raw_output/
/Scripts/COMBINED_VIDEO.avi
/Scripts/COMBINED_VIDEO_POST_PROCESS.avi

